button.form-button {
    background-color: #425ccc;
    margin: 2rem 0 2rem;
}

button.form-button:hover {
    background-color: #41add3;
}

#price-quote-form {
    text-align:center;
}

.form-question {
    font-size: 1.5rem;
    text-align: center;
    margin: 0 auto 2rem;
}

.question {
    font-size: 1.5rem;
}

#total-cost {
    font-size: 3rem;
    margin: 0 0 1rem 0;
}

#total-description {
    max-width: 60rem;
    font-size: 1.2rem;
    margin-left: auto;
    margin-right: auto;
}

#form-outer-div {
    padding: 1.5rem 1rem 2rem 1rem;
    width: 100%;
    background-color: white;
}

.form-text {
    max-width: 100rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.form-text label {
    font-size: 1rem;
    vertical-align: middle;
}

div.multiple-inputs {
    display: inline-block;
    text-align: left;
    min-width: 4rem;
    margin-left: auto;
    margin-right: auto;
}

.form-text input[type='radio'] {  
    margin: 0 0.5rem 0 0;
    vertical-align: -2.5px;
}

.form-text input[type='checkbox'] {  
    margin: 0 0.5rem 0 0;
    vertical-align: -2.5px;
}

.form-text input[type='text'] {
    max-width: 90rem;
    min-width: 30rem;
}

.form-text input[type='email'] {
    max-width: 90rem;
    min-width: 30rem;
}

.last-form h2 {
    text-align: center;
}

#stripe-buttons { 
    text-align: center;
}

#page {
    padding-top: 0;
    margin-top: 0;
}